<div class="min-height">
    <div class="container">
        <h2 class="title">Carrito de compras</h2>
        <div class="main-container">
            <div class="table-container">
                <table>
                    <colgroup>
                        <col style="width: 15%;">
                        <col style="width: 70%;">
                        <col style="width: 15%;">
                    </colgroup>
                    <tr>
                        <th>Artículo</th>
                        <th>Descripción</th>
                        <th>Total: {{ total | currency }}</th>
                    </tr>
                    <tr *ngFor="let product of products">
                        <td>
                            <picture>
                                <img src="{{ product.thumbnail }}" alt="">
                            </picture>
                        </td>
                        <td>{{ product.title }}</td>
                        <td>{{ product.price | currency }}</td>
                    </tr>
                </table>
                <div class="button-container">
                    <button class="pay-button"
                            data-bs-toggle="modal"
                            data-bs-target="#paymentModal"
                            (click)="buy()">Pagar</button>
                    <!-- Modal -->
                    <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Pago procesado con éxito</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ¡Disfrute de sus productos!
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                            [routerLink]="['/dashboard']">Seguir comprando
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>