<footer class="bg-dark text-white py-1 footer min-height">
    <div class="container">
        <nav class="row justify-content-md-center">
            <span class="col-12 text-reset text-uppercase fw-bold align-items-center text-center">
                eniac
            </span>
            <ul class="col-1 list-unstyled mb-0">
                <li class="d-flex justify-content-between">
                    <a href="#" class="text-reset">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="#" class="text-reset">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="#" class="text-reset">
                        <i class="bi bi-github"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>